<ng-container *ngIf="ItemsList" >
  
  <div class="car-grid" *ngFor="let item of ItemsList" >
    <div class="row">
      <div class="col-lg-4 col-md-12">

        <div class="car-item gray-bg text-center">
          <div class="car-image">
            <img class="img-fluid" src='../../../../assets/img/cars/'+ {{1}}+ '.jpg' alt="">
            <!-- <div class="car-overlay-banner">
              <ul>
                <li><a href="#"><i class="fa fa-link"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div> -->
          </div>
        </div>

      </div>
      <div class="col-lg-8 col-md-12">
        <div class="car-details">
          <div class="car-title">
            <a href="#">{{item.DisplayName}}</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero numquam repellendus non
              voluptate. Harum blanditiis ullam deleniti.</p>
          </div>
          <div class="price">
            <span class="old-price"> {{(item.SellingPrice*105)/100}} | DecimalPipeMy </span>
            <span class="new-price">{{item.SellingPrice}} LKR </span>
            <a class="button red float-right" href="#">Details</a>
          </div>
          <div class="car-list">
            <ul class="list-inline">
              <li><i class="fa fa-registered"></i> {{item.YearName}}</li>
              <li><i class="fa fa-cog"></i> {{item.Transmission}} </li>
              <li><i class="fa fa-shopping-cart"></i> {{item.Milage}} mi</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-container>


