<br>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body" style="padding-bottom: 0; padding-top:0;">
        <div class="row">
         
          <div class="col-md-4">
           

                <div class="row">
                  <div class="col-md-12 pt-3">
                      <h1 class="text-center to-uppercase"  style= "color: #c5161d;"> Welcome to  <span> <b> sellmycar.com </b></span> </h1>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-center"  style= "color: #c5161d;"> The most stunning online car buying and aution portal</h3>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <p>you can buy and see your car with highest level of satisfaction and safely and earn extra money by putting your car in our auction.
                            All our cars are added with extra care and with much more details. so there can be no room for imposter to make you fool
                          </p>
                          
                      </div>
                    </div>
          </div>


         
          <div class="col-md-3" style="padding-left: 0;">
            <div class="ibox" style="margin-bottom: 0;">
              <div class="ibox-head background-red for-color-white" style="
              border-bottom-width: 0px;">
                <div class="ibox-title">
                  <h4 class="to-uppercase"> Want to find somethig?</h4>
                </div>
              </div>
              <div class="ibox-body border-red" style="background-color: #c5161d;    padding-top: 0px;">
                <div class="form-group">
                  <label class="form-control-label color-yellow to-uppercase">Make</label>
                  <ng-select  [items]="_allMakess"  #select_make  (change)="ChangeEventMake(select_make)"  bindLabel="Text" autofocus bindValue="id" >
                  </ng-select>


                  <label class="form-control-label color-yellow to-uppercase">Model</label>
                  <ng-select [items]="_allModels" #select_model  (change)="ChangeEventModel(select_model)" name="selectedMode" bindLabel="Text" autofocus bindValue="id" >
                  </ng-select>

                  <label class="form-control-label color-yellow to-uppercase">Year</label>

                  <ng-select [items]="_allYearMakes" #select_year  (change)="ChangeEventYear(select_year)" name="selectedYear" bindLabel="Text" autofocus bindValue="id" >
                  </ng-select>

                  <div class="button-padding">
                    <button class="btn btn-yellow to-uppercase" type="button" (click)="Wanttofindcar()" >Find now</button>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="col-md-5 bg-17 image-overelly">
            <img src="../../../assets//img//banners/banner_blank_840x380.jpg" alt="Banner sale">

          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-gap">

</div>

<div class="row" id="ads" style="margin-top: 0px;">
  <!-- Category Card -->
  <div class="col-md-2" style="margin-top: 10px;">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Low KMS</span>
        <span class="card-notify-year">2018</span>
        <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
          alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Used</span>
        <span class="card-detail-badge">$28,000.00</span>
        <span class="card-detail-badge">13000 Kms</span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>Honda Accord LX</h5>
        </div>
        <a class="ad-btn" href="#">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="margin-top: 10px;">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Fully-Loaded</span>
        <span class="card-notify-year">2017</span>
        <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=CAC80HOC021B121001.jpg&width=440&height=262"
          alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Used</span>
        <span class="card-detail-badge">$28,000.00</span>
        <span class="card-detail-badge">13000 Kms</span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>Honda CIVIC HATCHBACK LS</h5>
        </div>
        <a class="ad-btn" href="#">View</a>
      </div>
    </div>
  </div>

  <div class="col-md-2" style="margin-top: 10px;">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Price Reduced</span>
        <span class="card-notify-year">2018</span>
        <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC091A021001.jpg&width=440&height=262"
          alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Used</span>
        <span class="card-detail-badge">$22,000.00</span>
        <span class="card-detail-badge">8000 Kms</span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>Honda Accord Hybrid LT</h5>
        </div>
        <a class="ad-btn" href="#">View</a>
      </div>
    </div>
  </div>

  <div class="col-md-2" style="margin-top: 10px;">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Price Reduced</span>
        <span class="card-notify-year">2018</span>
        <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC091A021001.jpg&width=440&height=262"
          alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Used</span>
        <span class="card-detail-badge">$22,000.00</span>
        <span class="card-detail-badge">8000 Kms</span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>Honda Accord Hybrid LT</h5>
        </div>
        <a class="ad-btn" href="#">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="margin-top: 10px;">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Price Reduced</span>
        <span class="card-notify-year">2018</span>
        <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC091A021001.jpg&width=440&height=262"
          alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Used</span>
        <span class="card-detail-badge">$22,000.00</span>
        <span class="card-detail-badge">8000 Kms</span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>Honda Accord Hybrid LT</h5>
        </div>
        <a class="ad-btn" href="#">View</a>
      </div>
    </div>
  </div>
  <div class="col-md-2" style="margin-top: 10px;">
    <div class="card rounded">
      <div class="card-image">
        <span class="card-notify-badge">Price Reduced</span>
        <span class="card-notify-year">2018</span>
        <img class="img-fluid" src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC091A021001.jpg&width=440&height=262"
          alt="Alternate Text" />
      </div>
      <div class="card-image-overlay m-auto">
        <span class="card-detail-badge">Used</span>
        <span class="card-detail-badge">$22,000.00</span>
        <span class="card-detail-badge">8000 Kms</span>
      </div>
      <div class="card-body text-center">
        <div class="ad-title m-auto">
          <h5>Honda Accord Hybrid LT</h5>
        </div>
        <a class="ad-btn" href="#">View</a>
      </div>
    </div>
  </div>

</div>


<div class="row">
  <div class="col-md-4">
    <div class="dealer-box red-bg">
      <div class="row">
        <div class="col-md-3 box-icon">
          <i class="la  la-automobile "></i>
        </div>

        <div class="col-md-9 box-content">
          <h3 class="text-white to-uppercase">Find your car</h3>
          <p class="text-white">Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>

          <button class="btn btn-secondary btn-fix btn-thick">
            <span class="btn-icon"><i class="la la-pencil"></i>Find your car!</span>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="dealer-box dark-bg">

      <div class="row">
        <div class="col-md-3 box-icon">
          <i class="la la-balance-scale"></i>
        </div>

        <div class="col-md-9 box-content">
          <h3 class="text-white to-uppercase">Sell your Car </h3>
          <p class="text-white">Add your car to our inventory to sell it with ease..you can sell or earn money with
            our
            car Auction facility!</p>

          <button class="btn btn-secondary btn-fix btn-thick ">
            <span class="btn-icon"><i class="la la-pencil"></i>Add your car!</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dealer-box red-bg">
      <div class="row">
        <div class="col-md-3 box-icon">
          <i class="la  la-male"></i>
        </div>

        <div class="col-md-9 box-content">
          <h3 class="text-white to-uppercase">Personal interest</h3>
          <p class="text-white">Not found a car? tell us what you like to have. we will find your car and inform you
            right away!</p>

          <button class="btn btn-secondary btn-fix btn-thick">
            <span class="btn-icon"><i class="la la-pencil"></i>What do you like?</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>









<!-- myCarousel ************************************************************************************************************* -->



<div id="sponsoredStyleSelectorSection" class="container hidden-sm">
  <div class="text-center">
    <div data-cmp="subheading" class="text-bold text-size-500 text-size-sm-600">Browse by Style</div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Truck/subject??vehicleStyleCodes=TRUCKS"
        title="Truck" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;TRUCKS&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_TRUCKS.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Truck</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/SUV~Crossover/subject??vehicleStyleCodes=SUVCROSS"
        title="SUV/Crossover" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;SUVCROSS&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_SUVCROSS.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">SUV/Crossover</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Sedan/subject??vehicleStyleCodes=SEDAN"
        title="Sedan" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;SEDAN&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_SEDAN.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Sedan</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Coupe/subject??vehicleStyleCodes=COUPE"
        title="Coupe" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;COUPE&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_COUPE.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Coupe</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Hatchback/subject??vehicleStyleCodes=HATCH"
        title="Hatchback" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;HATCH&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_HATCH.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Hatchback</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Van~Minivan/subject??vehicleStyleCodes=VANMV"
        title="Van/Minivan" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;VANMV&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_VANMV.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Van/Minivan</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Convertible/subject??vehicleStyleCodes=CONVERT"
        title="Convertible" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;CONVERT&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_CONVERT.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Convertible</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Wagon/subject??vehicleStyleCodes=WAGON"
        title="Wagon" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;WAGON&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_WAGON.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Wagon</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="margin-vertical-5">
  <div class="row margin-bottom-5">
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/AWD~4WD/subject??vehicleStyleCodes=AWD4WD"
        title="AWD/4WD" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;AWD4WD&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_AWD4WD.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">AWD/4WD</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Luxury/subject??vehicleStyleCodes=LUXURY"
        title="Luxury" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;LUXURY&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_LUXURY.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Luxury</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Hybrid~Electric/subject??vehicleStyleCodes=HYBEL"
        title="Hybrid/Electric" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;HYBEL&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_HYBEL.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Hybrid/Electric</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-3 margin-bottom-4 text-center">
      <div class="text-gray-darker text-bold text-link" href="/cars-for-sale/Commercial/subject??vehicleStyleCodes=COMMERCIAL"
        title="Commercial" data-birf-log="component" data-birf-cmp="sty" data-birf-extra="{&quot;veh_sty&quot;:&quot;COMMERCIAL&quot;}">
        <div data-cmp="itemCard" class="item-card row display-flex align-items-stretch flex-column">
          <div class="col-xs-12 item-card-side"><img class="img-responsive margin-horizontal-auto" src="https://content.autotrader.com/content/dam/autotrader/homepage/styles/DefaultDesk_Style_COMMERCIAL.png"
              width="224px" height="120px"></div>
          <div class="col-xs-12 item-card-content display-flex flex-column justify-content-between">
            <div class="item-card-body margin-bottom-auto">Commercial</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
















<!-- ************************************************************************Segmant separator *******************************************************************************-->
<div class="row segmant-separator"> </div>
<!-- ************************************************************************Segmant separator *******************************************************************************-->




<!-- ThirdLayor Of items ... Brows items by make ************************************************************************************************************* -->


<div class="row">
  <div class="col-md-12">
    <div class="catalogueList">
      <ul>
        <li class="icon"><u class="logoTile Abarth"></u><a href="/new-cars/Abarth">Abarth </a></li>
        <li class="icon"><u class="logoTile AlfaRomeo"></u><a href="/new-cars/Alfa-Romeo">Alfa Romeo </a></li>
        <li class="icon"><u class="logoTile AstonMartin"></u><a href="/new-cars/Aston-Martin">Aston Martin </a></li>
        <li class="icon"><u class="logoTile Audi"></u><a href="/new-cars/Audi">Audi </a></li>
        <li class="icon"><u class="logoTile Bentley"></u><a href="/new-cars/Bentley">Bentley </a></li>
        <li class="icon"><u class="logoTile BMW"></u><a href="/new-cars/BMW">BMW </a></li>
        <li class="icon"><u class="logoTile Changan"></u><a href="/new-cars/Changan">Changan </a></li>
      </ul>

      <ul>
        <li class="icon"><u class="logoTile Chevrolet"></u><a href="/new-cars/Chevrolet">Chevrolet </a></li>
        <li class="icon"><u class="logoTile Datsun"></u><a href="/new-cars/Datsun">Datsun </a></li>
        <li class="icon"><u class="logoTile Fiat"></u><a href="/new-cars/Fiat">Fiat </a></li>
        <li class="icon"><u class="logoTile Ford"></u><a href="/new-cars/Ford">Ford </a></li>
        <li class="icon"><u class="logoTile GWM"></u><a href="/new-cars/GWM">GWM </a></li>
        <li class="icon"><u class="logoTile Haval"></u><a href="/new-cars/Haval">Haval </a></li>
        <li class="icon"><u class="logoTile Honda"></u><a href="/new-cars/Honda">Honda </a></li>
      </ul>

      <ul>
        <li class="icon"><u class="logoTile Hyundai"></u><a href="/new-cars/Hyundai">Hyundai </a></li>
        <li class="icon"><u class="logoTile Isuzu"></u><a href="/new-cars/Isuzu">Isuzu </a></li>
        <li class="icon"><u class="logoTile Jaguar"></u><a href="/new-cars/Jaguar">Jaguar </a></li>
        <li class="icon"><u class="logoTile Jeep"></u><a href="/new-cars/Jeep">Jeep </a></li>
        <li class="icon"><u class="logoTile JMC"></u><a href="/new-cars/JMC">JMC </a></li>
        <li class="icon"><u class="logoTile Kia"></u><a href="/new-cars/Kia">Kia </a></li>
        <li class="icon"><u class="logoTile Lamborghini"></u><a href="/new-cars/Lamborghini">Lamborghini </a></li>
      </ul>

      <ul>
        <li class="icon"><u class="logoTile LandRover"></u><a href="/new-cars/Land-Rover">Land Rover </a></li>
        <li class="icon"><u class="logoTile Lexus"></u><a href="/new-cars/Lexus">Lexus </a></li>
        <li class="icon"><u class="logoTile Mahindra"></u><a href="/new-cars/Mahindra">Mahindra </a></li>
        <li class="icon"><u class="logoTile Maserati"></u><a href="/new-cars/Maserati">Maserati </a></li>
        <li class="icon"><u class="logoTile Mazda"></u><a href="/new-cars/Mazda">Mazda </a></li>
        <li class="icon"><u class="logoTile McLaren"></u><a href="/new-cars/McLaren">McLaren </a></li>
        <li class="icon"><u class="logoTile MercedesAMG"></u><a href="/new-cars/Mercedes-AMG">Mercedes-AMG </a></li>
      </ul>

      <ul>
        <li class="icon"><u class="logoTile MercedesBenz"></u><a href="/new-cars/Mercedes-Benz">Mercedes-Benz </a></li>
        <li class="icon"><u class="logoTile MercedesMaybach"></u><a href="/new-cars/Mercedes-Maybach">Mercedes-May
          </a></li>
        <li class="icon"><u class="logoTile MINI"></u><a href="/new-cars/MINI">MINI </a></li>
        <li class="icon"><u class="logoTile Mitsubishi"></u><a href="/new-cars/Mitsubishi">Mitsubishi </a></li>
        <li class="icon"><u class="logoTile Nissan"></u><a href="/new-cars/Nissan">Nissan </a></li>
        <li class="icon"><u class="logoTile Opel"></u><a href="/new-cars/Opel">Opel </a></li>
        <li class="icon"><u class="logoTile Peugeot"></u><a href="/new-cars/Peugeot">Peugeot </a></li>
      </ul>

      <ul>
        <li class="icon"><u class="logoTile Porsche"></u><a href="/new-cars/Porsche">Porsche </a></li>
        <li class="icon"><u class="logoTile Renault"></u><a href="/new-cars/Renault">Renault </a></li>
        <li class="icon"><u class="logoTile RollsRoyce"></u><a href="/new-cars/Rolls-Royce">Rolls-Royce </a></li>
        <li class="icon"><u class="logoTile smart"></u><a href="/new-cars/smart">smart </a></li>
        <li class="icon"><u class="logoTile SsangYong"></u><a href="/new-cars/SsangYong">SsangYong </a></li>
        <li class="icon"><u class="logoTile Subaru"></u><a href="/new-cars/Subaru">Subaru </a></li>
        <li class="icon"><u class="logoTile Suzuki"></u><a href="/new-cars/Suzuki">Suzuki </a></li>
      </ul>

      <ul>
        <li class="icon"><u class="logoTile TATA"></u><a href="/new-cars/TATA">TATA </a></li>
        <li class="icon"><u class="logoTile Toyota"></u><a href="/new-cars/Toyota">Toyota </a></li>
        <li class="icon"><u class="logoTile Volkswagen"></u><a href="/new-cars/Volkswagen">Volkswagen </a></li>
        <li class="icon"><u class="logoTile Volvo"></u><a href="/new-cars/Volvo">Volvo </a></li>
      </ul>
    </div>
  </div>
</div>


<!-- ************************************************************************Segmant separator *******************************************************************************-->
<div class="row segmant-separator"> </div>
<!-- ************************************************************************Segmant separator *******************************************************************************-->
