<br>

<div class="slider-content text-center  padding-headerbanner bg-17 image-overelly">

  <div class="row">
    <div class="col-md-5">
      <div>
        <h1 class="to-uppercase to-italic to-font-3em">Find the right choice yet? dig in right now</h1>
        <h5 class="text-red">find your dream car on our car collection right now or you may put your car to our
          collection to sell it.
        </h5>
        <div class="search-tab ">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-gap">

</div>

<div class="row">
  <div class="col-md-4">
    <div class="dealer-box red-bg">
      <div class="row">
        <div class="col-md-3 box-icon">
          <i class="la  la-automobile "></i>
        </div>

        <div class="col-md-9 box-content">
          <h3 class="text-white to-uppercase">Find your car</h3>
          <p class="text-white">Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>

          <button class="btn btn-secondary btn-fix btn-thick">
            <span class="btn-icon"><i class="la la-pencil"></i>Find your car!</span>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="dealer-box dark-bg">

      <div class="row">
        <div class="col-md-3 box-icon">
          <i class="la la-balance-scale"></i>
        </div>

        <div class="col-md-9 box-content">
          <h3 class="text-white to-uppercase">Sell your Car </h3>
          <p class="text-white">Add your car to our inventory to sell it with ease..you can sell or earn money with our
            car Auction facility!</p>

          <button class="btn btn-secondary btn-fix btn-thick ">
            <span class="btn-icon"><i class="la la-pencil"></i>Add your car!</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dealer-box red-bg">
      <div class="row">
        <div class="col-md-3 box-icon">
          <i class="la  la-male"></i>
        </div>

        <div class="col-md-9 box-content">
          <h3 class="text-white to-uppercase">Personal interest</h3>
          <p class="text-white">Not found a car? tell us what you like to have. we will find your car and inform you
            right away!</p>

          <button class="btn btn-secondary btn-fix btn-thick">
            <span class="btn-icon"><i class="la la-pencil"></i>What do you like?</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="row">
  <div class="col-xl-6">
    <div class="ibox ibox-fullheight">
      <div class="ibox-head">
        <div class="ibox-title">Latest Cars</div>
        <div class="ibox-tools">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
            <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
            <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
          </div>
        </div>
      </div>
      <div class="ibox-body">
        <ul class="media-list media-list-divider">

          <li class="media">
            <a class="media-img pr-4" href="javascript:;">
              <img src="./assets/img/blog/07.jpeg" alt="image" width="120" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="article.html">TOYOTA PRIUS S SAFETY PLUS 2018</a>
                </h5>
                <p class="font-13 text-light">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">KMS:
                    <span class="badge badge-success badge-pill ml-2">12,000</span>
                  </span>
                  <span class="mr-4">Capacity:
                    <span class="badge badge-success badge-pill ml-2">1800 cc</span>
                  </span>

                  <span class="mr-4">Colour:
                    <span class="badge badge-success badge-pill ml-2">White </span>
                  </span>

                  <span class="mr-4">Chassis:
                    <span class="badge badge-success badge-pill ml-2">ZVW50</span>
                  </span>


                  <span class="text-muted mr-4"><i class="fa fa-heart mr-2"></i>56</span>
                  <span class="text-muted"><i class="fa fa-comment mr-2"></i>124</span>
                </div>
              </div>
              <div class="text-right" style="width:25%;">
                <h3 class="mb-1 font-strong text-primary"><sup>Rs</sup>3,150,000</h3>
                <div class="text-muted">views</div>
              </div>
            </div>
          </li>


          <li class="media">
            <a class="media-img pr-4" href="javascript:;">
              <img src="./assets/img/blog/culinary-1.jpeg" alt="image" width="120" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="article.html">TOYOTA COROLLA X HID 2006</a>
                </h5>
                <p class="font-13 text-light">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">Created:
                    <a class="text-success" href="javascript:;">10.08.2018</a>
                  </span>
                  <span class="text-muted mr-4"><i class="fa fa-heart mr-2"></i>56</span>
                  <span class="text-muted"><i class="fa fa-comment mr-2"></i>124</span>
                </div>
              </div>
              <div class="text-right" style="width:100px;">
                <h3 class="mb-1 font-strong text-primary">5240</h3>
                <div class="text-muted">views</div>
              </div>
            </div>
          </li>
          <li class="media">
            <a class="media-img pr-4" href="javascript:;">
              <img src="./assets/img/blog/02.jpg" alt="image" width="120" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="article.html">Fashion Trends</a>
                </h5>
                <p class="font-13 text-light">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">Created:
                    <a class="text-success" href="javascript:;">10.08.2018</a>
                  </span>
                  <span class="text-muted mr-4"><i class="fa fa-heart mr-2"></i>56</span>
                  <span class="text-muted"><i class="fa fa-comment mr-2"></i>124</span>
                </div>
              </div>
              <div class="text-right" style="width:100px;">
                <h3 class="mb-1 font-strong text-primary">4780</h3>
                <div class="text-muted">views</div>
              </div>
            </div>
          </li>
          <li class="media">
            <a class="media-img pr-4" href="javascript:;">
              <img src="./assets/img/blog/04.jpeg" alt="image" width="120" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="article.html">Style of the week</a>
                </h5>
                <p class="font-13 text-light">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">Created:
                    <a class="text-success" href="javascript:;">10.08.2018</a>
                  </span>
                  <span class="text-muted mr-4"><i class="fa fa-heart mr-2"></i>56</span>
                  <span class="text-muted"><i class="fa fa-comment mr-2"></i>124</span>
                </div>
              </div>
              <div class="text-right" style="width:100px;">
                <h3 class="mb-1 font-strong text-primary">4200</h3>
                <div class="text-muted">views</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>






  <div class="col-xl-6">
    <div class="ibox ibox-fullheight">
      <div class="ibox-head">
        <div class="ibox-title">Best Sellers</div>
        <div class="ibox-tools">
          <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
            <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
            <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
          </div>
        </div>
      </div>
      <div class="ibox-body">
        <ul class="media-list media-list-divider">

          <li class="media">
            <a class="media-img" href="javascript:;">
              <img src="./assets/img/products/01.jpg" alt="image" height="100" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="javascript:;">TOYOTA PRIUS S SAFETY PLUS </a>
                </h5>
                <div class="h4 text-success">2018</div>
                <p class="font-13 text-light mb-1">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">KMS:
                    <span class="badge badge-success badge-pill ml-2">12,000 KM</span>
                  </span>
                  <span class="mr-4">Capacity:
                    <span class="badge badge-success badge-pill ml-2">1800 cc</span>
                  </span>

                  <span class="mr-4">Colour:
                    <span class="badge badge-success badge-pill ml-2">White </span>
                  </span>

                  <span class="mr-4">Chassis:
                    <span class="badge badge-success badge-pill ml-2">ZVW50</span>
                  </span>
                  
                  <i class="la la-truck font-16 text-light"
                    data-toggle="tooltip" data-original-title="Delivery"></i></div>
              </div>
              <div class="text-right" style="width:25%;">
                <h3 class="mb-1 font-strong text-success"><sup>Rs</sup>4,450,000</h3>
                <div class="text-muted">1 sales</div>
              </div>
            </div>
          </li>




          <li class="media">
            <a class="media-img" href="javascript:;">
              <img src="./assets/img/products/01.jpg" alt="image" height="100" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="javascript:;">NISSAN X-TRAIL 4WD 20Xi </a>
                </h5>
                <div class="h4 text-success">2018</div>
                <p class="font-13 text-light mb-1">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">KMS:
                    <span class="badge badge-success badge-pill ml-2">0 KM</span>
                  </span>
                  <span class="mr-4">Capacity:
                    <span class="badge badge-success badge-pill ml-2">2000 cc</span>
                  </span>

                  <span class="mr-4">Colour:
                    <span class="badge badge-success badge-pill ml-2">White </span>
                  </span>

                  <span class="mr-4">Chassis:
                    <span class="badge badge-success badge-pill ml-2">NT32</span>
                  </span>
                  
                  <i class="la la-truck font-16 text-light"
                    data-toggle="tooltip" data-original-title="Delivery"></i></div>
              </div>
              <div class="text-right" style="width:25%;">
                <h3 class="mb-1 font-strong text-success"><sup>Rs</sup>7,850,000</h3>
                <div class="text-muted">2 sales</div>
              </div>
            </div>
          </li>



          <li class="media">
            <a class="media-img" href="javascript:;">
              <img src="./assets/img/products/01.jpg" alt="image" height="100" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="javascript:;">NISSAN SERENA Highway Star -V Selection Safety Pack B </a>
                </h5>
                <div class="h4 text-success">2018</div>
                <p class="font-13 text-light mb-1">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">KMS:
                    <span class="badge badge-success badge-pill ml-2">18,000 KM</span>
                  </span>
                  <span class="mr-4">Capacity:
                    <span class="badge badge-success badge-pill ml-2">1800 cc</span>
                  </span>

                  <span class="mr-4">Colour:
                    <span class="badge badge-success badge-pill ml-2">White </span>
                  </span>

                  <span class="mr-4">Chassis:
                    <span class="badge badge-success badge-pill ml-2">GFC27</span>
                  </span>
                  
                  <i class="la la-truck font-16 text-light"
                    data-toggle="tooltip" data-original-title="Delivery"></i></div>
              </div>
              <div class="text-right" style="width:25%;">
                <h3 class="mb-1 font-strong text-success"><sup>Rs</sup>3,150,000</h3>
                <div class="text-muted">5 sales</div>
              </div>
            </div>
          </li>





          <li class="media">
            <a class="media-img" href="javascript:;">
              <img src="./assets/img/products/01.jpg" alt="image" height="100" />
            </a>
            <div class="media-body d-flex">
              <div class="flex-1">
                <h5 class="media-heading">
                  <a href="javascript:;">MAZDA RX-8 </a>
                </h5>
                <div class="h4 text-success">2006</div>
                <p class="font-13 text-light mb-1">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                <div class="font-13">
                  <span class="mr-4">KMS:
                    <span class="badge badge-success badge-pill ml-2">12,000 KM</span>
                  </span>
                  <span class="mr-4">Capacity:
                    <span class="badge badge-success badge-pill ml-2">1800 cc</span>
                  </span>

                  <span class="mr-4">Colour:
                    <span class="badge badge-success badge-pill ml-2">White </span>
                  </span>

                  <span class="mr-4">Chassis:
                    <span class="badge badge-success badge-pill ml-2">ZVW50</span>
                  </span>
                  
                  <i class="la la-truck font-16 text-light"
                    data-toggle="tooltip" data-original-title="Delivery"></i></div>
              </div>
              <div class="text-right" style="width:25%;">
                <h3 class="mb-1 font-strong text-success"><sup>Rs</sup>4,450,000</h3>
                <div class="text-muted">312 sales</div>
              </div>
            </div>
          </li>






        </ul>
      </div>
    </div>
  </div>
</div>




























<!-- <div class="card">
  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2">
            <a class="media-img" href="javascript:;">
              <img class="img-circle" src="./assets/img/cars/car.png" alt="image" width="100">
            </a>
          </div>
          <div class="col-md-10">
            <div class="alert alert-pink alert-bordered">
              <h3 class="to-uppercase">Find your dream car</h3>
              <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on
                available
                vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over
                the
                Internet.</p>
              <p>
                <a class="btn btn-pink" href="http://masonry.desandro.com/" target="_blank">Find Your Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2">
            <a class="media-img" href="javascript:;">
              <img class="img-circle" src="./assets/img/cars/car-blue.png" alt="image" width="100">
            </a>
          </div>
          <div class="col-md-10">
            <div class="alert alert-info alert-bordered">
              <h3 class="to-uppercase">Sell your car</h3>
              <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on
                available
                vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over
                the
                Internet.</p>
              <p>
                <a class="btn btn-info" href="http://masonry.desandro.com/" target="_blank">Sell Your Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2">
            <a class="media-img" href="javascript:;">
              <img class="img-circle" src="./assets/img/cars/car-blue.png" alt="image" width="100">
            </a>
          </div>
          <div class="col-md-10">
            <div class="alert alert-secondary alert-bordered">
              <h3 class="to-uppercase">Personal Interest</h3>
              <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on
                available
                vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over
                the
                Internet.</p>
              <p>
                <a class="btn btn-blue" href="http://masonry.desandro.com/" target="_blank">Add Interested Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->



<!-- 


<div class="page-content fade-in-up">
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body flexbox-b">
          <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
            <span class="easypie-data text-success" style="font-size:32px;"><i class="la la-users"></i></span>
          </div>
          <div>
            <h3 class="font-strong text-success">128</h3>
            <div class="text-muted">NEW CUSTOMERS</div>
          </div>
          <div>
            <button class="btn btn-primary btn-labeled btn-labeled-left btn-icon pull-left">
              <span class="btn-label"><i class="la la-music"></i></span>Labeled</button>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body flexbox-b">
          <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
            <span class="easypie-data font-26 text-primary"><i class="ti-world"></i></span>
          </div>
          <div>
            <h3 class="font-strong text-primary">6400</h3>
            <div class="text-muted">TODAY'S VISITS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body flexbox-b">
          <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80" data-line-width="8">
            <span class="easypie-data text-pink" style="font-size:32px;"><i class="la la-tags"></i></span>
          </div>
          <div>
            <h3 class="font-strong text-pink">210</h3>
            <div class="text-muted">SUPPORT TICKETS</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div> -->
