<br>

<div class="slider-content text-center ">

  <div class="row">
    <div class="col-md-5">
      <!-- <div>
        <h1 class="to-uppercase to-italic to-font-3em">Find the right choice yet? dig in right now</h1>
        <h5 class="text-red">find your dream car on our car collection right now or you may put your car to our
          collection to sell it.
        </h5>
        <div class="search-tab ">
        </div>
      </div> -->
      <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Select 2
                <a class="btn btn-sm btn-primary ml-2" href="https://select2.github.io/" target="_blank">Official site</a>
            </div>
        </div>
        <div class="ibox-body">
            <div class="form-group">
                <label class="form-control-label">Single select</label>
                <select class="form-control select2_demo_1">
                    <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone">
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </optgroup>
                    <optgroup label="Central Time Zone">
                        <option value="AL">Alabama</option>
                        <option value="AR">Arkansas</option>
                        <option value="IL">Illinois</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="OK">Oklahoma</option>
                        <option value="SD">South Dakota</option>
                        <option value="TX">Texas</option>
                        <option value="TN">Tennessee</option>
                        <option value="WI">Wisconsin</option>
                    </optgroup>
                    <optgroup label="Eastern Time Zone">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="IN">Indiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="OH">Ohio</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WV">West Virginia</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label">Multiple select</label>
                <select class="form-control select2_demo_1" multiple="">
                    <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone">
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group">
                <label class="form-control-label">With Placeholder & allow clear</label>
                <select class="form-control select2_demo_2">
                    <optgroup label="Alaskan/Hawaiian Time Zone">
                        <option value="AK">Alaska</option>
                        <option value="HI">Hawaii</option>
                    </optgroup>
                    <optgroup label="Pacific Time Zone">
                        <option value="CA">California</option>
                        <option value="NV">Nevada</option>
                        <option value="OR">Oregon</option>
                        <option value="WA">Washington</option>
                    </optgroup>
                    <optgroup label="Mountain Time Zone">
                        <option value="AZ">Arizona</option>
                        <option value="CO">Colorado</option>
                        <option value="ID">Idaho</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NM">New Mexico</option>
                        <option value="ND">North Dakota</option>
                        <option value="UT">Utah</option>
                        <option value="WY">Wyoming</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </div>


    </div>
    <div class="col-md-7 padding-headerbanner bg-17 image-overelly">


    </div>
  </div>

  <div class="row row-gap">

  </div>

  <div class="row" style="height: 230px;">
    <div class="col-md-4">
      <div class="dealer-box red-bg">
        <div class="row">
          <div class="col-md-3 box-icon">
            <i class="la  la-automobile "></i>
          </div>

          <div class="col-md-9 box-content">
            <h3 class="text-white to-uppercase">Find your car</h3>
            <p class="text-white">Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>

            <button class="btn btn-secondary btn-fix btn-thick">
              <span class="btn-icon"><i class="la la-pencil"></i>Find your car!</span>
            </button>
          </div>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="dealer-box dark-bg">

        <div class="row">
          <div class="col-md-3 box-icon">
            <i class="la la-balance-scale"></i>
          </div>

          <div class="col-md-9 box-content">
            <h3 class="text-white to-uppercase">Sell your Car </h3>
            <p class="text-white">Add your car to our inventory to sell it with ease..you can sell or earn money with
              our
              car Auction facility!</p>

            <button class="btn btn-secondary btn-fix btn-thick ">
              <span class="btn-icon"><i class="la la-pencil"></i>Add your car!</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="dealer-box red-bg">
        <div class="row">
          <div class="col-md-3 box-icon">
            <i class="la  la-male"></i>
          </div>

          <div class="col-md-9 box-content">
            <h3 class="text-white to-uppercase">Personal interest</h3>
            <p class="text-white">Not found a car? tell us what you like to have. we will find your car and inform you
              right away!</p>

            <button class="btn btn-secondary btn-fix btn-thick">
              <span class="btn-icon"><i class="la la-pencil"></i>What do you like?</span>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Second Layor Of items ... Scroll item list ************************************************************************************************************* -->

  <div class="row">
    <div class="col-xl-6">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="ibox-title">Latest Cars</div>
          <div class="ibox-tools">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
              <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
              <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
            </div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider">

            <li class="media">
              <a class="media-img pr-4" href="javascript:;">
                <img src="./assets/img/blog/07.jpeg" alt="image" width="120" />
              </a>
              <div class="media-body d-flex">
                <div class="flex-1">
                  <h5 class="media-heading">
                    <a href="article.html">TOYOTA PRIUS S SAFETY PLUS 2018</a>
                  </h5>
                  <p class="font-13 text-light">Cillum in incididunt reprehenderit qui reprehenderit nulla ut sint</p>
                  <div class="font-13">
                    <span class="mr-4">KMS:
                      <span class="badge badge-success badge-pill ml-2">12,000</span>
                    </span>
                    <span class="mr-4">Capacity:
                      <span class="badge badge-success badge-pill ml-2">1800 cc</span>
                    </span>

                    <span class="mr-4">Colour:
                      <span class="badge badge-success badge-pill ml-2">White </span>
                    </span>

                    <span class="mr-4">Chassis:
                      <span class="badge badge-success badge-pill ml-2">ZVW50</span>
                    </span>


                    <span class="text-muted mr-4"><i class="fa fa-heart mr-2"></i>56</span>
                    <span class="text-muted"><i class="fa fa-comment mr-2"></i>124</span>
                  </div>
                </div>
                <div class="text-right" style="width:25%;">
                  <h3 class="mb-1 font-strong text-primary"><sup>Rs</sup>3,150,000</h3>
                  <div class="text-muted">views</div>
                </div>
              </div>
            </li>



          </ul>
        </div>
      </div>
    </div>






    <div class="col-xl-6">
      <div class="ibox ibox-fullheight">
        <div class="ibox-head">
          <div class="ibox-title">Best Sellers</div>
          <div class="ibox-tools">
            <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item"> <i class="ti-pencil"></i>Create</a>
              <a class="dropdown-item"> <i class="ti-pencil-alt"></i>Edit</a>
              <a class="dropdown-item"> <i class="ti-close"></i>Remove</a>
            </div>
          </div>
        </div>
        <div class="ibox-body">
          <ul class="media-list media-list-divider">

            <li class="media">
              <div class="row">
                <div class="col-md-2 col-sm-12">
                  <a class="media-img" href="javascript:;">
                    <img src="./assets/img/products/01.jpg" alt="image" height="100" />
                  </a>
                </div>
                <div class="col-md-10 col-sm-12">

                  <div class="media-body d-flex">
                    <div class="row">
                      <div class="col-md-10">
                        <div class="flex-1">
                          <h5 class="media-heading">
                            <a href="javascript:;">TOYOTA PRIUS S SAFETY PLUS </a>
                          </h5>
                          <div class="h4 text-success">2018</div>
                          <p class="font-13 text-light mb-1">Cillum in incididunt reprehenderit qui reprehenderit nulla
                            ut
                            sint</p>
                          <div class="font-13">
                            <span class="mr-4">KMS:
                              <span class="badge badge-success badge-pill ml-2">12,000 KM</span>
                            </span>
                            <span class="mr-4">Capacity:
                              <span class="badge badge-success badge-pill ml-2">1800 cc</span>
                            </span>

                            <span class="mr-4">Colour:
                              <span class="badge badge-success badge-pill ml-2">White </span>
                            </span>

                            <span class="mr-4">Chassis:
                              <span class="badge badge-success badge-pill ml-2">ZVW50</span>
                            </span>

                            <i class="la la-truck font-16 text-light" data-toggle="tooltip" data-original-title="Delivery"></i></div>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="text-right" style="width:25%;">
                          <h3 class="mb-1 font-strong text-success"><sup>Rs</sup>4,450,000</h3>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>



  <!-- ************************************************************************Segmant separator *******************************************************************************-->
  <div class="row segmant-separator"> </div>
  <!-- ************************************************************************Segmant separator *******************************************************************************-->




  <!-- ThirdLayor Of items ... Brows items by make ************************************************************************************************************* -->


  <div class="row">
    <div class="col-md-12">
      <div class="catalogueList">
        <ul>
          <li class="icon"><u class="logoTile Abarth"></u><a href="/new-cars/Abarth">Abarth </a></li>
          <li class="icon"><u class="logoTile AlfaRomeo"></u><a href="/new-cars/Alfa-Romeo">Alfa Romeo </a></li>
          <li class="icon"><u class="logoTile AstonMartin"></u><a href="/new-cars/Aston-Martin">Aston Martin </a></li>
          <li class="icon"><u class="logoTile Audi"></u><a href="/new-cars/Audi">Audi </a></li>
          <li class="icon"><u class="logoTile Bentley"></u><a href="/new-cars/Bentley">Bentley </a></li>
          <li class="icon"><u class="logoTile BMW"></u><a href="/new-cars/BMW">BMW </a></li>
          <li class="icon"><u class="logoTile Changan"></u><a href="/new-cars/Changan">Changan </a></li>
        </ul>

        <ul>
          <li class="icon"><u class="logoTile Chevrolet"></u><a href="/new-cars/Chevrolet">Chevrolet </a></li>
          <li class="icon"><u class="logoTile Datsun"></u><a href="/new-cars/Datsun">Datsun </a></li>
          <li class="icon"><u class="logoTile Fiat"></u><a href="/new-cars/Fiat">Fiat </a></li>
          <li class="icon"><u class="logoTile Ford"></u><a href="/new-cars/Ford">Ford </a></li>
          <li class="icon"><u class="logoTile GWM"></u><a href="/new-cars/GWM">GWM </a></li>
          <li class="icon"><u class="logoTile Haval"></u><a href="/new-cars/Haval">Haval </a></li>
          <li class="icon"><u class="logoTile Honda"></u><a href="/new-cars/Honda">Honda </a></li>
        </ul>

        <ul>
          <li class="icon"><u class="logoTile Hyundai"></u><a href="/new-cars/Hyundai">Hyundai </a></li>
          <li class="icon"><u class="logoTile Isuzu"></u><a href="/new-cars/Isuzu">Isuzu </a></li>
          <li class="icon"><u class="logoTile Jaguar"></u><a href="/new-cars/Jaguar">Jaguar </a></li>
          <li class="icon"><u class="logoTile Jeep"></u><a href="/new-cars/Jeep">Jeep </a></li>
          <li class="icon"><u class="logoTile JMC"></u><a href="/new-cars/JMC">JMC </a></li>
          <li class="icon"><u class="logoTile Kia"></u><a href="/new-cars/Kia">Kia </a></li>
          <li class="icon"><u class="logoTile Lamborghini"></u><a href="/new-cars/Lamborghini">Lamborghini </a></li>
        </ul>

        <ul>
          <li class="icon"><u class="logoTile LandRover"></u><a href="/new-cars/Land-Rover">Land Rover </a></li>
          <li class="icon"><u class="logoTile Lexus"></u><a href="/new-cars/Lexus">Lexus </a></li>
          <li class="icon"><u class="logoTile Mahindra"></u><a href="/new-cars/Mahindra">Mahindra </a></li>
          <li class="icon"><u class="logoTile Maserati"></u><a href="/new-cars/Maserati">Maserati </a></li>
          <li class="icon"><u class="logoTile Mazda"></u><a href="/new-cars/Mazda">Mazda </a></li>
          <li class="icon"><u class="logoTile McLaren"></u><a href="/new-cars/McLaren">McLaren </a></li>
          <li class="icon"><u class="logoTile MercedesAMG"></u><a href="/new-cars/Mercedes-AMG">Mercedes-AMG </a></li>
        </ul>

        <ul>
          <li class="icon"><u class="logoTile MercedesBenz"></u><a href="/new-cars/Mercedes-Benz">Mercedes-Benz </a></li>
          <li class="icon"><u class="logoTile MercedesMaybach"></u><a href="/new-cars/Mercedes-Maybach">Mercedes-Maybach
            </a></li>
          <li class="icon"><u class="logoTile MINI"></u><a href="/new-cars/MINI">MINI </a></li>
          <li class="icon"><u class="logoTile Mitsubishi"></u><a href="/new-cars/Mitsubishi">Mitsubishi </a></li>
          <li class="icon"><u class="logoTile Nissan"></u><a href="/new-cars/Nissan">Nissan </a></li>
          <li class="icon"><u class="logoTile Opel"></u><a href="/new-cars/Opel">Opel </a></li>
          <li class="icon"><u class="logoTile Peugeot"></u><a href="/new-cars/Peugeot">Peugeot </a></li>
        </ul>

        <ul>
          <li class="icon"><u class="logoTile Porsche"></u><a href="/new-cars/Porsche">Porsche </a></li>
          <li class="icon"><u class="logoTile Renault"></u><a href="/new-cars/Renault">Renault </a></li>
          <li class="icon"><u class="logoTile RollsRoyce"></u><a href="/new-cars/Rolls-Royce">Rolls-Royce </a></li>
          <li class="icon"><u class="logoTile smart"></u><a href="/new-cars/smart">smart </a></li>
          <li class="icon"><u class="logoTile SsangYong"></u><a href="/new-cars/SsangYong">SsangYong </a></li>
          <li class="icon"><u class="logoTile Subaru"></u><a href="/new-cars/Subaru">Subaru </a></li>
          <li class="icon"><u class="logoTile Suzuki"></u><a href="/new-cars/Suzuki">Suzuki </a></li>
        </ul>

        <ul>
          <li class="icon"><u class="logoTile TATA"></u><a href="/new-cars/TATA">TATA </a></li>
          <li class="icon"><u class="logoTile Toyota"></u><a href="/new-cars/Toyota">Toyota </a></li>
          <li class="icon"><u class="logoTile Volkswagen"></u><a href="/new-cars/Volkswagen">Volkswagen </a></li>
          <li class="icon"><u class="logoTile Volvo"></u><a href="/new-cars/Volvo">Volvo </a></li>
        </ul>
      </div>
    </div>
  </div>



  <!-- ************************************************************************Segmant separator *******************************************************************************-->
  <div class="row segmant-separator"> </div>
  <!-- ************************************************************************Segmant separator *******************************************************************************-->

  <div class="footerLinks container-fluid">
    <div class="row">

      <div class="col-xs-12 col-md-3 col-20pc">
        <h3>SHOPPING TOOLS</h3>
        <ul class="listaFooter">
          <li><a href="#app-bmo" title="Build &amp; Price" data-interaction_type="cta" data-link_tracking="global-footer:shopping-tools:build-and-price">Build
              &amp; Price</a></li>

          <li><a href="#app-sni" title="Search New Inventory" data-interaction_type="cta" data-link_tracking="global-footer:shopping-tools:search-inventory">Search
              New Inventory</a></li>

          <li><a href="#app-fad" title="Find a dealer" data-interaction_type="cta" data-link_tracking="global-footer:shopping-tools:find-a-dealer">Find
              a dealer</a></li>

          <li><a href="/car-shopping/current-offers" title="Alfa Romeo Current Offers and Deals" data-interaction_type="cta"
              data-link_tracking="global-footer:shopping-tools:">Alfa Romeo Current Offers and Deals</a></li>

          <li><a href="#app-brochure" title="Get a brochure" data-interaction_type="cta" data-link_tracking="global-footer:shopping-tools:get-brochure">Get
              a brochure</a></li>

        </ul>

      </div>

      <div class="col-xs-12 col-md-3 col-20pc">
        <h3>OUR LEGACY</h3>
        <ul class="listaFooter">
          <li><a href="/a-story-that-made-history" title="A story that made history" data-interaction_type="nav"
              data-link_tracking="global-footer:our-legacy:a-story-that-made-history">A story that made history</a></li>

          <li><a href="/the-badge" title="The Badge" data-interaction_type="nav" data-link_tracking="global-footer:our-legacy:the-badge">The
              Badge</a></li>

          <li><a href="https://www.museoalfaromeo.com/en-us" target="_blank" title="Alfa Romeo Museum"
              data-interaction_type="nav" data-link_tracking="global-footer:our-legacy:alfa-romeo-museum">Alfa Romeo
              Museum</a></li>
        </ul>

      </div>

      <div class="col-xs-12 col-md-3 col-20pc">
        <h3>ALFA ROMEO WORLD</h3>
        <ul class="listaFooter">
          <li><a href="/world/news" title="Alfa Romeo News" data-interaction_type="nav" data-link_tracking="global-footer:alfa-romeo-world:alfa-news:news">Alfa
              Romeo News</a></li>

          <li><a href="/world/video-alfisti-tv" title="Watch the World of Alfa Romeo with Alfisti Films"
              data-interaction_type="nav" data-link_tracking="global-footer:alfa-romeo-world:alfisti-films">Watch the
              World of Alfa Romeo with Alfisti Films</a></li>
        </ul>

      </div>

      <div class="col-xs-12 col-md-3 col-20pc">
        <h3>OWNERS</h3>
        <ul class="listaFooter">
          <li><a href="/owners/owners-service-manual" title="Owner`s Manual, Service Manual" data-interaction_type="nav"
              data-link_tracking="global-footer:owners:owners-manual-and-users-guide">Owner`s Manual, Service Manual</a></li>

          <li><a href="/owners/warranty" title="Warranty USA, Towing and Roadside Assistance" data-interaction_type="nav"
              data-link_tracking="global-footer:owners:warranty">Warranty USA, Towing and Roadside Assistance</a></li>

          <li><a href="https://www.mopar.com/en-us/my-vehicle/recalls.html" target="_blank" title="FCA Recalls"
              data-interaction_type="nav" data-link_tracking="global-footer:owners:fca-recalls" data_popup="true"
              data_popup_title="You are now leaving alfaromeousa.com" data_popup_message="International language options are available on your new page."
              data_popup_cancel="CANCEL" data_popup_confirm="CONFIRM">FCA Recalls</a></li>

          <li><a href="/owners/premium-care-limited-warranty" title="Premium Care Limited Warranty"
              data-interaction_type="nav" data-link_tracking="global-footer:owners:">Premium Care Limited Warranty</a></li>
        </ul>
      </div>
    </div>
  </div>


  <div class="spazioLoghi container-fluid visible-lg visible-md"></div>
  <div class="footerBottomText container-fluid">

    <p>©2019 FCA US LLC. &nbsp;All Rights Reserved. &nbsp;<br>
      ALFA ROMEO is a registered trademark of FCA Group Marketing S.p.A., used with permission.</p>

    <p>*MSRP excludes destination, taxes, title and registration fees. Starting at price refers to the base model,
      optional equipment not included. A more expensive model may be shown. Pricing and offers may change at any time
      without notification. Stelvio starting at price refers to the base model with Apple CarPlay and Android Auto
      included. To get full pricing details, see your dealer.</p>


    <p>FCA strives to ensure that its website is accessible to individuals with disabilities. Should you encounter an
      issue accessing any content on Alfa Romeo, please contact our Customer Service Team at&nbsp;<a href="https://www.alfaromeousa.com/contact-us"
        title="Follow link">https://www.alfaromeousa.com/contact-us</a>&nbsp;or 844-253-2872, for further assistance or
      to report a problem. Access to Alfa Romeo is subject to FCA’s Privacy Policy and Terms of Use.</p>




  </div>


  <!-- FOOTER CUSTOM SCRIPT **************************************** -->
  <style>
    #changeLang {
      opacity: 0;
      padding: 0px;
      height: 0;

    }

  </style>

  <style type="text/css">
    .image-description.has-margin {
      padding: 1.42857rem 2.85714rem !important;
    }

    .image-description .sdp-col-first {
      padding: 3.57143rem 3.57143rem 1.78571rem !important;
    }

    .image-description .display-media-container {
      height: 100% !important
    }

    @media screen and (max-width: 991px) {

      .buildandprice,
      .scheduletestdrive,
      .findadealer,
      .searchnewinventory,
      .shareit {
        display: none !important;
      }
    }

  </style>
  <!-- END FOOTER CUSTOM SCRIPT ************************************ -->
