<div class="row">
  <div class="col-md-12 p-3 bg-primary text-center text-uppercase text-white">
    <h1 class="text-search-header">Hey!! You want to register right? very well ....</h1>
    <h5>Please fill out the details and register to have amazing set of benifits now </h5>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-3">

  </div>
  <div class="col-md-6 offset-md-2">
    <div class="ibox">
      <form class="form-purple">
        <div class="ibox-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-4">
                <label class="lable-separation to-uppercase font-weight-bold">FirstName</label>
                <input class="form-control" type="text" placeholder="FirstName">
              </div>
              <div class="form-group mb-4">
                <label class="lable-separation to-uppercase font-weight-bold">LastName</label>
                <input class="form-control" type="text" placeholder="LastName">
              </div>
              <div class="form-group mb-4">
                <label class="lable-separation to-uppercase font-weight-bold">Email Address</label>
                <div class="input-group-icon input-group-icon-left">
                  <span class="input-icon input-icon-left"><i class="ti-email"></i></span>
                  <input class="form-control" type="text" placeholder="Email">
                </div>
              </div>
              <div class="form-group mb-4">
                <label class="lable-separation to-uppercase font-weight-bold">Phone number</label>
                <div class="input-group">
                  <div class="input-group-btn">
                    <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">+61<i class="fa fa-angle-down ml-1"></i></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:;">+61</a>
                      <a class="dropdown-item" href="javascript:;">+1</a>
                      <a class="dropdown-item" href="javascript:;">+7</a>
                    </div>
                  </div>
                  <input class="form-control" type="text" placeholder="Enter Phone">
                </div>
                <span class="help-block">It will be required to verify your account.</span>
              </div>


            </div>

            <div class="col-md-6 border border-bottom-0 border-top-0 border-right-0">

              <div class="form-group mb-4">
                <label class="lable-separation to-uppercase font-weight-bold">Username</label>
                <div class="input-group-icon input-group-icon-left">
                  <span class="input-icon input-icon-left"><i class="ti-user"></i></span>
                  <input class="form-control" type="text" placeholder="Username">
                </div>
              </div>


              <div class="form-group mb-4">
                <label class="lable-separation to-uppercase font-weight-bold">Password</label>
                <div class="input-group-icon input-group-icon-left">
                  <span class="input-icon input-icon-left"><i class="ti-lock"></i></span>
                  <input class="form-control" type="text" placeholder="Password">
                </div>
              </div>
              <div class="form-group mb-0">
                <label class="checkbox checkbox-outline-primary">
                  <input type="checkbox">
                  <span class="input-span"></span>Remamber me</label>
              </div>
            </div>
          </div>







        </div>
        <div class="ibox-footer">
          <button class="btn btn-primary mr-2" type="button">Submit</button>
          <button class="btn btn-outline-secondary" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>

</div>
