.preloader-backdrop {
    background-color: transparent;
}
.page-preloader {
    background-color: #fff;
    box-shadow: 0 5px 20px #d6dee4;
}

.topbar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}