<div class="row">
  <div class="col-md-12 p-3 bg-primary text-center text-uppercase text-white">
    <h1 class="text-search-header">Hey!! add your car to the list</h1>
    <h5>Just fill out the form and add your car to our database and sell it fast. </h5>
  </div>
</div>


<section class="car-details page-section-ptb">
  <form [formGroup]="newcarform">
    <div class="container">

      <div class="card">
        <div class="card-body">


          <!-- ***************************************************************************Image Upload and Display************************************************************* -->

          <div class="row">
            <!--Image Upload ----------------------------------------------------------------------------------------------------->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <div role="listbox">
                      <img src="assets/img/cars/addnewcars/01.jpg" alt="" data-slick-index="-1" aria-hidden="true"
                        tabindex="-1" style="width: 555px;"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="img-thumbnail border-1">
                    <img src="assets/img/cars/addnewcars/01.jpg" alt="Paris">
                    <img src="assets/img/cars/addnewcars/add.png" style="width: 50px;" alt="Paris">
                  </div>

                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="car-details-sidebar">
                <div class="details-block details-weight">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="ibox">
                        <div class="ibox-body" style="padding-bottom: 10px; ">
                          <div class="form-group mb-3 mt-3 border border-warning p-2">
                            <div class="mt-1">
                              <label class="radio radio-inline radio-grey radio-primary to-uppercase" style="color: #5c6bc0;">
                                <input type="radio" name="d" (change)="ItemExtended.SecuritySystem = !ItemExtended.SecuritySystem"
                                  [checked]="true">
                                <span class="input-span"></span><strong> I'm am a new one </strong></label>
                              <label class="radio radio-inline radio-grey radio-primary to-uppercase" style="color: #5c6bc0;">
                                <input type="radio" name="d">
                                <span class="input-span"></span> <strong> i know sellmycar </strong></label>
                            </div>
                          </div>

                          <div class="form-group mb-4" [class.has-error]="!phonenumbervalied">
                            <label class="lable-separation to-uppercase font-weight-bold">Let's start with your Phone
                              number</label>
                            <div class="input-group">
                              <div class="input-group-btn ">
                                <button class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown">+94<i
                                    class="fa fa-angle-down ml-1"></i></button>
                                <div class="dropdown-menu">
                                  <a class="dropdown-item" href="javascript:;">+94</a>
                                </div>
                              </div>
                              <input class="form-control" type="text" formControlName="phoneNumber" placeholder="Enter Phone"
                                minlength=9 maxlength=9>
                            </div>
                            <div *ngIf="newcarform.controls['phoneNumber'].errors && !newcarform.controls['phoneNumber'].pristine"
                              class="error-msg">
                              <div class="erro-desc" [hidden]="!newcarform.controls['phoneNumber'].errors.required">Hello!!!
                                We need your phone number!...</div>
                              <div class="erro-desc" [hidden]="!newcarform.controls['phoneNumber'].errors.patternInvalid">oopsy!!!
                                this phone number is wrong</div>
                            </div>
                            <span class="help-block">It will be required to verify your account.</span>
                          </div>

                          <div class="form-group mb-4" [class.has-error]="!emailvalied">
                            <label class="lable-separation to-uppercase font-weight-bold">And then Your Email address</label>
                            <div class="input-group-icon input-group-icon-left">
                              <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                              <input class="form-control" type="text" formControlName="email" placeholder="your email address">
                            </div>
                            <div *ngIf="newcarform.controls['email'].errors && !newcarform.controls['email'].pristine"
                              class="error-msg">
                              <div class="erro-desc" [hidden]="!newcarform.controls['email'].errors.required">Hello!!!!
                                we need
                                your
                                email address!...</div>
                              <div class="erro-desc" [hidden]="!newcarform.controls['email'].errors.patternInvalid">oopsy!!!
                                this email address is wrong</div>
                            </div>
                          </div>

                          <div class="form-group mb-4" [class.has-error]="!nametodisplayvalied">
                            <label class="lable-separation to-uppercase font-weight-bold">Also give a name to display
                              <span class="reqired-indicator-color badge badge-danger">Required</span></label>
                            <div class="input-group-icon input-group-icon-left">
                              <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                              <input class="form-control" type="text" formControlName="nameToDisplay" placeholder="Car's Name">
                            </div>
                            <div *ngIf="newcarform.controls['nameToDisplay'].errors && !newcarform.controls['nameToDisplay'].pristine"
                              class="error-msg">
                              <div class="erro-desc" [hidden]="!newcarform.controls['nameToDisplay'].errors.required">phone
                                number is required.</div>
                              <div class="erro-desc" [hidden]="!newcarform.controls['nameToDisplay'].errors.patternInvalid">phone
                                number is invalid.</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ***************************************************************************END OF  Image Upload Area************************************************************* -->
          </div>
          <!-- ***************************************************************************Image Upload and Display************************************************************* -->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-4" [class.has-error]="!descriptionvalied">
                <label class="form-control-label  lable-separation to-uppercase font-weight-bold">Say something about
                  your car(1000 words only) <span class="reqired-indicator-color badge badge-danger">*</span></label>
                <textarea class="form-control" formControlName="description" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!-- ***************************************************************************Form Input Area ************************************************************* -->
          <div class="row">
            <div class="col-lg-12 col-md-12  col-sm-12">
              <div class="ibox">
                <div class="ibox-body">
                  <!-- ***************************************************************************First COlumn ************************************************************* -->
                  <div class="row">

                    <div class="col-md-6">

                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation to-uppercase font-weight-bold">Make of the
                          car<span class="reqired-indicator-color badge badge-danger">*</span></label>
                        <ng-select [items]="_allMakess"  class=" select2_demo_1" #select_make
                          (change)="ChangeEventMake(select_make)" bindLabel="Text" autofocus bindValue="id">
                        </ng-select>
                      </div>
                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation to-uppercase font-weight-bold">MODEL of the
                          car <span class="reqired-indicator-color badge badge-danger">*</span>
                        </label>
                        <ng-select [items]="_allModels"  #select_model (change)="ChangeEventModel(select_model)"
                          bindLabel="Text" autofocus bindValue="id">
                        </ng-select>

                      </div>
                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation to-uppercase font-weight-bold">YEAR
                          Manufacture <span class="reqired-indicator-color badge badge-danger">*</span></label>
                        <ng-select [items]="_allYearMakes" #select_year (change)="ChangeEventYear(select_year)" name="selectedYear"
                          bindLabel="Text" autofocus bindValue="id">
                        </ng-select>
                      </div>

                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">MILAGE</label>
                        <ng-select [items]="_allYearMilages" #select_milage (change)="ChangeEventMilage(select_milage)"
                          name="selectedYear" bindLabel="Text" autofocus bindValue="id">
                        </ng-select>
                      </div>

                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">BODY TYPE</label>
                        <ng-select [items]="_allYearBodyTypes" #select_bodytype (change)="ChangeEventBodyType(select_bodytype)"
                          name="selectedYear" bindLabel="Text" autofocus bindValue="id">
                        </ng-select>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.SecuritySystem = !ItemExtended.SecuritySystem"
                                [checked]="ItemExtended.SecuritySystem">
                              <span class="input-span"></span>Security System</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.Airconditioning = !ItemExtended.Airconditioning"
                                [checked]="ItemExtended.Airconditioning">
                              <span class="input-span"></span>Air conditioning</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.AlloyWheels = !ItemExtended.AlloyWheels"
                                [checked]="ItemExtended.AlloyWheels">
                              <span class="input-span"></span>Alloy Wheels</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.ABS = !ItemExtended.ABS" [checked]="ItemExtended.ABS">
                              <span class="input-span"></span>Anti-Lock Brakes (ABS)</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.Anti_Theft = !ItemExtended.Anti_Theft"
                                [checked]="ItemExtended.Anti_Theft">
                              <span class="input-span"></span>Anti-Theft</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.Anti_Starter = !ItemExtended.Anti_Starter"
                                [checked]="ItemExtended.Anti_Starter">
                              <span class="input-span"></span>Anti-Starter </label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.FogLights = !ItemExtended.FogLights"
                                [checked]="ItemExtended.FogLights">
                              <span class="input-span"></span>Fog Lights</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.RearWindowDefroster = !ItemExtended.RearWindowDefroster"
                                [checked]="ItemExtended.RearWindowDefroster">
                              <span class="input-span"></span>Rear Window Defroster</label>
                          </div>

                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.TemporarySpareTire = !ItemExtended.TemporarySpareTire"
                                [checked]="ItemExtended.TemporarySpareTire">
                              <span class="input-span"></span>Temporary Spare Tire</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.PassengerVanityMirro = !ItemExtended.PassengerVanityMirro"
                                [checked]="ItemExtended.PassengerVanityMirro">
                              <span class="input-span"></span>Passenger Vanity Mirror</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.TirePressureMonitor = !ItemExtended.TirePressureMonitor"
                                [checked]="ItemExtended.TirePressureMonitor">
                              <span class="input-span"></span>Tire Pressure Monitor </label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.PowerMirror = !ItemExtended.PowerMirror"
                                [checked]="ItemExtended.PowerMirror">
                              <span class="input-span"></span>Power Mirror(s)</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.RearSpoiler = !ItemExtended.RearSpoiler"
                                [checked]="ItemExtended.RearSpoiler">
                              <span class="input-span"></span>Rear Spoiler</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.BluetoothConnection = !ItemExtended.BluetoothConnection"
                                [checked]="ItemExtended.BluetoothConnection">
                              <span class="input-span"></span>Bluetooth Connection</label>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.TintedGlass = !ItemExtended.TintedGlass"
                                [checked]="ItemExtended.TintedGlass">
                              <span class="input-span"></span>Tinted Glass</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.SoundSystem = !ItemExtended.SoundSystem"
                                [checked]="ItemExtended.SoundSystem">
                              <span class="input-span"></span>Sound System</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.CruiseControl = !ItemExtended.CruiseControl"
                                [checked]="ItemExtended.CruiseControl">
                              <span class="input-span"></span>Cruise Control</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.PowerSteering = !ItemExtended.PowerSteering"
                                [checked]="ItemExtended.PowerSteering">
                              <span class="input-span"></span>Power Steering</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.MultifunctionSteering = !ItemExtended.MultifunctionSteering"
                                [checked]="ItemExtended.MultifunctionSteering">
                              <span class="input-span"></span>Multifunction Steering </label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.PowerWindows = !ItemExtended.PowerWindows"
                                [checked]="ItemExtended.PowerWindows">
                              <span class="input-span"></span>Power Windows</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.RearWindowWiper = !ItemExtended.RearWindowWiper"
                                [checked]="ItemExtended.RearWindowWiper">
                              <span class="input-span"></span>Rear Window Wiper</label>
                          </div>


                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.AirbagSide = !ItemExtended.AirbagSide"
                                [checked]="ItemExtended.AirbagSide">
                              <span class="input-span"></span>Airbag: Side</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.AirbagDriver = !ItemExtended.AirbagDriver"
                                [checked]="ItemExtended.AirbagDriver">
                              <span class="input-span"></span>Airbag: Driver </label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.AirbagPassenger = !ItemExtended.AirbagPassenger"
                                [checked]="ItemExtended.AirbagPassenger">
                              <span class="input-span"></span>Airbag: Passenger</label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.TractionControl = !ItemExtended.TractionControl"
                                [checked]="ItemExtended.TractionControl">
                              <span class="input-span"></span>Traction Control </label>
                          </div>
                          <div class="form-group">
                            <label class="checkbox checkbox-primary">
                              <input type="checkbox" (change)="ItemExtended.AdjustableSteeringWheel = !ItemExtended.AdjustableSteeringWheel"
                                [checked]="ItemExtended.AdjustableSteeringWheel">
                              <span class="input-span"></span>Adjustable Steering Wheel</label>
                          </div>

                        </div>


                      </div>

                    </div>


                    <!-- ***************************************************************************Second Column ************************************************************* -->

                    <div class="col-md-6">

                      <div class="form-group mb-4" [class.has-error]="!askingpricevalied">
                        <label class="form-control-label  lable-separation to-uppercase font-weight-bold">YOUR ASKING
                          PRICE (LKR) <span class="reqired-indicator-color badge badge-danger">*</span></label>
                        <div class="input-group-icon input-group-icon-left">
                          <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                          <input class="form-control" formControlName="askingPrice" type="number" placeholder="0.00">
                        </div>
                      </div>
                      <div class="form-group mb-4" [class.has-error]="!sellingpricevalied">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">EXPECTED
                          SELLING PRICE (LKR)
                          <span class="reqired-indicator-color badge badge-danger">*</span></label>
                        <div class="input-group-icon input-group-icon-left">
                          <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                          <input class="form-control" formControlName="expectedSelling" type="number" placeholder="0.00">
                        </div>
                      </div>
                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">AUCTION
                          PRICE(LKR)</label>
                        <div class="input-group-icon input-group-icon-left">
                          <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                          <input class="form-control" formControlName="auctionPrice" type="number" placeholder="0.00">
                        </div>
                        <span class="help-block">If you decided to put the car to auction only this price will used.</span>
                      </div>

                      <div class="form-group mb-4" [class.has-error]="!enginecapacityvalied">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">engine
                          capacity(CC) <span class="reqired-indicator-color badge badge-danger">*</span></label>
                        <div class="input-group-icon input-group-icon-left">
                          <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                          <input class="form-control" type="number" formControlName="enginecapacity" placeholder="0.00">
                        </div>
                      </div>

                      <div class="form-group mb-4">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">Door Count
                          <span class="reqired-indicator-color badge badge-danger">Required</span></label>
                        <div class="input-group-icon input-group-icon-left">
                          <span class="input-icon input-icon-left"><i class="ti-location-pin font-16"></i></span>
                          <input class="form-control" type="number" formControlName="doorCount" placeholder="0.00">
                        </div>
                      </div>

                      <div class="form-group mb-0">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">Transmission
                          type <span class="reqired-indicator-color badge badge-danger">Required</span></label>
                        <div class="mt-1">
                          <label class="radio radio-inline radio-grey radio-primary">
                            <input type="radio" name="d" (change)="ItemExtended.SecuritySystem = !ItemExtended.SecuritySystem"
                              [checked]="true">
                            <span class="input-span"></span>Manual</label>
                          <label class="radio radio-inline radio-grey radio-primary">
                            <input type="radio" name="d">
                            <span class="input-span"></span>Auto</label>
                        </div>
                      </div>

                      <div class="form-group mb-0">
                        <label class="form-control-label  lable-separation font-weight-bold to-uppercase">Fuel type
                          <span class="reqired-indicator-color badge badge-danger">Required</span></label>
                        <div class="mt-1">
                          <label class="radio radio-inline radio-grey radio-primary">
                            <input type="radio" name="fueltype" checked="">
                            <span class="input-span"></span>Petrol </label>
                          <label class="radio radio-inline radio-grey radio-primary">
                            <input type="radio" name="fueltype">
                            <span class="input-span"></span>Diesel </label>
                        </div>
                      </div>


                      <br>
                      <div class="form-group mb-0">
                        <label class="form-control-label  lable-separation  font-weight-bold to-uppercase">Put your car
                          to auction</label>
                        <div class="mt-1">
                          <label class="radio radio-inline radio-grey radio-primary">
                            <input type="checkbox" name="d" checked="">
                            <span class="input-span"></span>Auction my car now </label>
                        </div>
                      </div>

                    </div>

                  </div>

                </div>

                <div class="ibox-footer">
                  <button class="btn btn-primary mr-2" (click)="SaveData()" type="button">Submit</button>
                  <button class="btn btn-outline-secondary" type="reset">Cancel</button>
                </div>

              </div>


              <!-- <div class="extra-feature">
            <h6> extra feature</h6>
            <div class="row">
              <div class="col-md-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-style-1">
                  <li><i class="fa fa-check"></i> Security System</li>
                  <li><i class="fa fa-check"></i> Air conditioning</li>
                  <li><i class="fa fa-check"></i> Alloy Wheels</li>
                  <li><i class="fa fa-check"></i> Anti-Lock Brakes (ABS)</li>
                  <li><i class="fa fa-check"></i> Anti-Theft</li>
                  <li><i class="fa fa-check"></i> Anti-Starter </li>
                </ul>
              </div>
            </div>
          </div> -->



            </div>
          </div>


        </div>
      </div>


    </div>
  </form>
</section>
