<br>

<div class="slider-content text-center  padding-headerbanner bg-17 image-overelly">

  <div class="row">
    <div class="col-md-5">
      <div >
        <h1 class="to-uppercase to-italic to-font-3em">Find the right choice yet? dig in right now</h1>
        <h5 class="text-red" >find your dream car on our car collection right now or you may put your car to our collection to sell it.
        </h5>
        <div class="search-tab ">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row row-gap">

</div>

<div class="row">
  <div class="col-md-4">
    <div class="dealer-box red-bg">
      <div class="row">
        <div class="col-md-2 box-icon">
          <i class="la  la-automobile "></i>
        </div>

        <div class="col-md-10 box-content">
          <h3 class="text-white to-uppercase">Find your dream car</h3>
          <p class="text-white">Search Our Inventory With Thousands Of Cars And More Cars Are Adding On Daily Basis</p>

          <button class="btn btn-secondary btn-fix btn-thick btn-lg">
            <span class="btn-icon"><i class="la la-pencil"></i>Find your car!</span>
          </button>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-4">
    <div class="dealer-box dark-bg">

      <div class="row">
        <div class="col-md-2 box-icon">
          <i class="la la-balance-scale"></i>
        </div>

        <div class="col-md-10 box-content">
          <h3 class="text-white to-uppercase">Add your car to sale</h3>
          <p class="text-white">Add your car to our inventory to sell it with ease..you can sell or earn money with our car Auction facility!</p>

          <button class="btn btn-secondary btn-fix btn-thick btn-lg">
            <span class="btn-icon"><i class="la la-pencil"></i>Sell your Car!</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="dealer-box red-bg">
      <div class="row">
        <div class="col-md-2 box-icon">
          <i class="la  la-male"></i>
        </div>

        <div class="col-md-10 box-content">
          <h3 class="text-white to-uppercase">Personal interest of cars</h3>
          <p class="text-white">Not found a car? tell us what you like to have. we will find and inform you right away!</p>

          <button class="btn btn-secondary btn-fix btn-thick btn-lg">
            <span class="btn-icon"><i class="la la-pencil"></i>What do you like?</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>



<div class="card">
  <div class="card-body">
    <div class="row">

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2">
            <a class="media-img" href="javascript:;">
              <img class="img-circle" src="./assets/img/cars/car.png" alt="image" width="100">
            </a>
          </div>
          <div class="col-md-10">
            <div class="alert alert-pink alert-bordered">
              <h3 class="to-uppercase">Find your dream car</h3>
              <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on
                available
                vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over
                the
                Internet.</p>
              <p>
                <a class="btn btn-pink" href="http://masonry.desandro.com/" target="_blank">Find Your Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2">
            <a class="media-img" href="javascript:;">
              <img class="img-circle" src="./assets/img/cars/car-blue.png" alt="image" width="100">
            </a>
          </div>
          <div class="col-md-10">
            <div class="alert alert-info alert-bordered">
              <h3 class="to-uppercase">Sell your car</h3>
              <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on
                available
                vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over
                the
                Internet.</p>
              <p>
                <a class="btn btn-info" href="http://masonry.desandro.com/" target="_blank">Sell Your Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
          <div class="col-md-2">
            <a class="media-img" href="javascript:;">
              <img class="img-circle" src="./assets/img/cars/car-blue.png" alt="image" width="100">
            </a>
          </div>
          <div class="col-md-10">
            <div class="alert alert-secondary alert-bordered">
              <h3 class="to-uppercase">Personal Interest</h3>
              <p>Masonry is a JavaScript grid layout library. It works by placing elements in optimal position based on
                available
                vertical space, sort of like a mason fitting stones in a wall. You’ve probably seen it in use all over
                the
                Internet.</p>
              <p>
                <a class="btn btn-blue" href="http://masonry.desandro.com/" target="_blank">Add Interested Car</a>
              </p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>






<div class="page-content fade-in-up">
  <div class="row mb-4">
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body flexbox-b">
          <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
            <span class="easypie-data text-success" style="font-size:32px;"><i class="la la-users"></i></span>
          </div>
          <div>
            <h3 class="font-strong text-success">128</h3>
            <div class="text-muted">NEW CUSTOMERS</div>
          </div>
          <div>
            <button class="btn btn-primary btn-labeled btn-labeled-left btn-icon pull-left">
              <span class="btn-label"><i class="la la-music"></i></span>Labeled</button>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body flexbox-b">
          <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
            <span class="easypie-data font-26 text-primary"><i class="ti-world"></i></span>
          </div>
          <div>
            <h3 class="font-strong text-primary">6400</h3>
            <div class="text-muted">TODAY'S VISITS</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card mb-4">
        <div class="card-body flexbox-b">
          <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80" data-line-width="8">
            <span class="easypie-data text-pink" style="font-size:32px;"><i class="la la-tags"></i></span>
          </div>
          <div>
            <h3 class="font-strong text-pink">210</h3>
            <div class="text-muted">SUPPORT TICKETS</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
