.page-section-ptb {
  background-color: #ffffff;
  padding: 80px 0;
}

.text-uppercase{
    text-transform: uppercase !important;
}

.text-search-header{
    padding: 20px;
    text-transform: uppercase;
    color: #db2d2e !important;
    text-align: center;
}

.button {
  text-align: center;
  background: #db2d2e;
  color: #ffffff;
  display: inline-block;
  text-transform: capitalize;
  vertical-align: middle;
  padding: 8px 20px;
  -ms-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -ms-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -ms-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.product-listing .car-grid .price a.button {
  padding: 3px 20px;
}

/*************************************
        Product listing
**************************************/
.product-listing .car-item {
  margin-top: 30px;
}

.product-listing .listing-sidebar .widget {
  border: 1px solid #e3e3e3;
}

.product-listing .listing-sidebar .widget-search {
  padding: 20px;
}

.product-listing .listing-sidebar .widget-search h5 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.product-listing .listing-sidebar .widget-search h5:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #db2d2e;
  left: 0;
  bottom: 0px;
}

.product-listing .listing-sidebar .widget-search ul li {
  margin-bottom: 20px;
  list-style: none;
}

.product-listing .listing-sidebar .widget-search ul li i {
  padding-right: 10px;
}

.product-listing .listing-sidebar .widget-search ul li span {
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  color: #ffffff;
  background: #db2d2e;
  text-align: center;
  display: inline-block;
}

.product-listing .listing-sidebar .widget-banner {
  margin-top: 30px;
}

.product-listing ul {
  margin-bottom: 0px;
}

.product-listing ul li ul {
  display: none;
}

.product-listing ul li a {
  color: #323232;
  position: relative;
  display: block
}

.product-listing ul li.list-group-item a:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  line-height: 30px;
}

.product-listing ul li.list-group-item a.current:after {
  content: "\f106";
}

.product-listing ul.list-group li {
  list-style: none;
  position: relative;
}

.product-listing ul.list-group .checkbox label {
  line-height: 22px;
  padding-left: 22px;
}

.product-listing .list-group-item {
  border-left: 0;
  border-right: 0;
  padding: 13px 15px;
}

.product-listing .list-group-item:last-child {
  border-bottom: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group-item:first-child {
  border-radius: 0px;
}

.product-listing ul li a.current .fa-angle-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


/*widget-search*/
.product-listing .price-search {
  position: relative;
}

.product-listing .price-search input {
  padding-right: 30px;
  color: #323232;
  height: 45px;
  border-color: #f6f6f6;
  background: #f6f6f6;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.product-listing .price-search input:focus {
  background: transparent;
}

.product-listing .price-search i {
  position: absolute;
  right: 0px;
  padding: 16px 12px;
  font-size: 14px;
  color: #626262;
  cursor: pointer;
}

.product-listing .price-search input:focus {
  border-color: #db2d2e;
}

.product-listing .price-search span {
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.product-listing .pagination-nav {
  margin-top: 30px;
}

.pagination-nav .pagination li {
  display: inline-block;
}

.pagination-nav .pagination li a {
  border: 1px solid #ddd;
}

/*sorting-options*/
.sorting-options-main {
  border: 1px solid #e3e3e3;
  padding: 20px;
}

.sorting-options {
  padding: 10px 0px 0;
}

.sorting-options .change-view-button {
  margin-top: 10px;
}

.sorting-options .change-view-button a {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  color: #323232;
}

.sorting-options .change-view-button a.active {
  color: #db2d2e;
}

.sorting-options .change-view-button a:hover {
  color: #db2d2e;
}

.sorting-options .pagination>li>a {
  padding: 5px 12px;
  font-size: 14px;
}

.sorting-options .selected-box {
  display: inline-block;
  padding: 4px;
  border-color: #e3e3e3;
  width: 100%;
}



/*************************************
        Product details
**************************************/
.car-details .slider-slick {
  margin-bottom: 40px;
}

.car-details .feature-car {
  margin-top: 40px;
}

.slick-next {
  right: 25px;
}

.slick-prev {
  left: 25px;
}



/*modal*/
.car-details .modal-content {
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 0px;
}

.car-details .modal-content .button.red {
  border: 1px solid #e3e3e3;
  padding: 7px 20px;
  margin-bottom: 0;
}

.car-details .modal-header {
  border-bottom: 0px;
  background: #323232;
  padding: 15px 26px;
  margin: 10px;
}

.car-details h4.modal-title {
  position: relative;
  padding-bottom: 0px;
  margin-bottom: 0px;
  display: inline-block;
  color: #ffffff;
  margin-top: 3px;
}

.car-details .form-group .radio {
  margin: 0px;
}

.car-details .form-group:last-child {
  margin-bottom: 0px;
}

.car-details .form-group .radio {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  padding-left: 20px;
}

.car-details .form-group input[type=radio] {
  margin-top: 10px;
  width: auto;
}

.car-details .close {
  color: #ffffff;
  opacity: 1;
  text-shadow: none;
  transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.car-details .close:hover {
  color: #db2d2e;
  opacity: 1;
}

.car-details .close span {
  font-size: 40px;
}

/*car-details-sidebar*/
.car-details-sidebar h5 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.car-details-sidebar h5:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #db2d2e;
  left: 0;
  bottom: 0px;
}

.car-details-sidebar .details-block ul li {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
  margin-bottom: 10px;
}

.car-details-sidebar .details-block ul li:last-child {
  border-bottom: 0px;
}

.car-details-sidebar .details-block ul li span {
  width: 150px;
  display: inline-block;
}

.car-details-sidebar .details-block ul li strong {
  display: inline-block;
  text-align: right;
  color: #363636;
}

/*details-social*/
.details-social ul li {
  display: inline-block;
}

.details-social ul li a {
  margin-right: 15px;
  margin-bottom: 15px;
  display: block;
  color: #363636;
}

.details-social ul li a i {
  padding-right: 5px;
}

.details-social ul li a:hover {
  color: #db2d2e;
}

/*details-form*/
.details-form.contact-2 .gray-form a.button.red {
  display: block;
}

.details-form.contact-2 .gray-form {
  padding-right: 0px;
}

.car-details .car-price strong {
  font-size: 30px;
  display: block;
  margin-bottom: 10px;
  color: #db2d2e;
}

.car-details .car-price span {
  font-style: italic;
}

.car-details-sidebar .details-weight {
  margin-bottom: 40px;
}

.car-details-sidebar .details-phone.details-weight .feature-box-3 .content h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.details-location iframe {
  border: 0px;
  width: 100%;
  height: 250px;
}

/*details-nav working form*/
.modal-lg {
  max-width: 900px;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  position: absolute;
  margin-left: 0;
  left: 0;
  width: inherit;
  margin-top: 5px;
}

.car-details .vehicle-assessment .form-group:last-child {
  margin-bottom: 20px;
}

#recaptcha1,
#recaptcha2,
#recaptcha3,
#recaptcha4,
#recaptcha5,
#recaptcha6 {
  margin: 16px 0 !important;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox] {
  left: 20px;
}
