<div class="row">
  <div class="col-md-12 p-3 bg-primary text-center text-uppercase text-white">
    <h1 class="text-white">Hey!! find a car fast here</h1>
    <h5>you can use this to find your dream car.all the cars here are fully inspected and ensure the highst level of
      qulity </h5>
  </div>
</div>
<section class="product-listing page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div class="listing-sidebar">
          <div class="widget">
            <div class="widget-search">
              <h5>Car Search</h5>
              <ul class="list-style-none pl-0">
                <li><i class="fa fa-star"> </i> Results Found <span class="float-right">(39)</span></li>
                <li><i class="fa fa-shopping-cart"> </i> Compare Vehicles <span class="float-right">(10)</span></li>
              </ul>

            </div>
            <div class="clearfix">
            </div>
            <div class="left-nav">
              <dl class="filter-box is-category is-active">
                <dt class="filter-box-title">Select Make</dt>
                <dd class="filter-box-body">

                  <div class="row scroll-150 mb-2">
                    <div class="col-md-12 pl-5 ">
                      <div class="form-group " *ngFor="let item of _MakeItems">
                        <label class="checkbox checkbox-primary">
                          <input type="checkbox" [checked]="item.Options" (change)="item.Options = !item.Options">
                          <span class="input-span"></span>{{item.Text}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="ibox-body pl-2">
                    <button (click)="ApplyMake()" class="btn btn-primary">Apply</button>
                  </div>

                </dd>
              </dl>

              <dl class="filter-box is-category is-active">
                <dt class="filter-box-title">Select Year</dt>
                <dd class="filter-box-body">
                  <div class="row scroll-150 mb-2">
                    <div class="col-md-12 pl-5 ">
                      <div class="form-group " *ngFor="let item of _allYearMakes">
                        <label class="checkbox checkbox-primary">
                          <input type="checkbox" [checked]="item.Options" (change)="item.Options = !item.Options">
                          <span class="input-span"></span>{{item.Text}}</label>
                      </div>
                    </div>
                  </div>
                  <div class="ibox-body pl-2">
                    <button (click)="ApplyYear()" class="btn btn-primary btn-sm">Apply</button>
                  </div>
                </dd>
              </dl>


              <dl class="filter-box is-category is-active">
                <dt class="filter-box-title">Select Milages</dt>
                <dd class="filter-box-body">

                  <div class="row scroll-150 mb-2">
                    <div class="col-md-12 pl-5 ">
                      <div class="form-group " *ngFor="let item of _allYearMilages">
                        <label class="checkbox checkbox-primary">
                          <input type="checkbox" [checked]="item.Options" (change)="item.Options = !item.Options">
                          <span class="input-span"></span>{{item.Text}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="ibox-body pl-2">
                    <button (click)="ApplyMilages()" class="btn btn-primary">Apply</button>
                  </div>

                </dd>
              </dl>


              <dl class="filter-box is-category is-active">
                <dt class="filter-box-title">Select BodyType</dt>
                <dd class="filter-box-body">

                  <div class="row scroll-150 mb-2">
                    <div class="col-md-12 pl-5 ">
                      <div class="form-group " *ngFor="let item of _allYearBodyTypes">
                        <label class="checkbox checkbox-primary">
                          <input type="checkbox" [checked]="item.Options" (change)="item.Options = !item.Options">
                          <span class="input-span"></span>{{item.Text}}</label>
                      </div>
                    </div>
                  </div>

                  <div class="ibox-body pl-2">
                    <button (click)="ApplyBodyTypes()" class="btn btn-primary">Apply</button>
                  </div>

                </dd>
              </dl>



            </div>

          </div>
          <div class="widget-banner">
            <img class="img-fluid center-block" src="images/banner.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-8">
        <div class="sorting-options-main">
          <div class="row">
            <div class="col-lg-4">
              <div class="price-slide">
                <div class="price">
                  <label for="amount" class="text-uppercase">Price Range From(LKR)(Laks)</label>

                  <ng5-slider [(value)]="valueFrom" [options]="optionsFrom"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="price-slide-2">
                <div class="price">
                  <label for="amount-2" class="text-uppercase">To(LKR)(Laks)</label>
                  <ng5-slider [(value)]="valueTo" [options]="optionsTo"></ng5-slider>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="price-search">
                <span>Price search</span>
                <div class="search">
                  <i class="fa fa-search"></i>
                  <input type="search" class="form-control placeholder" placeholder="Search....">
                </div>
              </div>
            </div>
          </div>
          <div class="row sorting-options">
            <div class="col-md-4">
              <div class="change-view-button">
                <a href="listing-01.html"> <i class="fa fa-th"></i> </a>
                <a class="active" href="#"> <i class="fa fa-list-ul"></i> </a>
              </div>
            </div>
            <div class="col-md-4 text-right">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label pr-1" style="font-weight: bold;"> View:  </label>
                <div class="col-sm-10">
                  <ng-select [(ngModel)]="SelectPageSize">
                    <ng-option *ngFor="let car of SelectPageSizeItems" [value]="car.id" [disabled]="car.disabled">
                      {{car.Text}}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>


            <div class="col-md-4 text-right">
              <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label pr-1" style="font-weight: bold;" > View: </label>
                <div class="col-sm-10">
                  <ng-select [(ngModel)]="SelectPageSort">
                    <ng-option *ngFor="let car of SelectPageSortItems" [value]="car.id" [disabled]="car.disabled">
                      {{car.Text}}</ng-option>
                  </ng-select>
                </div>
              </div>
            </div>

          </div>
        </div>


        <!-- <ng-container *ngIf="_ItemsList != null; then show; else hide " >
       

        </ng-container>

        <ng-template #then>
          <div>
            <app-centrallist [ItemsList]=_ItemsList></app-centrallist>
          </div>
        </ng-template>

        <ng-template #hide>
          <div>
            <h5>Oooops! sorry... haven't found anything </h5>
          </div>
        </ng-template> -->


        <ng-template [ngIf]="_ItemsList" [ngIfElse]="loggedOut">
          <app-centrallist [ItemsList]=_ItemsList></app-centrallist>
        </ng-template>

        <ng-template #loggedOut>
          <h5>Oooops! sorry... haven't found anything </h5>
          <p> {{10029939 | thousondseparator}} </p>
        </ng-template>





      </div>
    </div>
  </div>
</section>